@import "../../styles/mixins.scss";

.main {
  position: relative;
  top: 20vh;
  display: flex;
  flex-direction: column;
  margin: 30 0px;
  @include mquery(400px) {
    margin: 30px 0px;
  }
  @include mquery(600px) {
    margin: 30px 0px;
  }
  @include widthControl;
}
