#mainNavButton{
    background-color:teal;
    color:black;
    border:1px solid black;
}
#mainNavButton:hover{
    opacity:.6;
}
#mainNavButton:focus{    
    box-shadow:none;
}
#navBarOpening{
    background:#50d07d;
}
#mainNavBarLinks a{
    color:#a53;        
    font-family:'lucida fax',sans-serif;
}

