.main{
    z-index:8;
    position:fixed;
    top:10vh;        
    width:100%;    
    background:#fff;         
    display:flex;
    justify-content: center;    
    height: 28vh;      
}
.searchDiv{   
    width:65vw; 
    display:grid;
    grid-template-rows: 1fr 30px 1fr;
    grid-template-columns: 40px 1fr;
    grid-template-areas:". ."
                        "i b"
                        ". .";
}
.iconDiv{    
    grid-area:i;
    display:flex;
    justify-content: flex-start;
    align-items: center;            
}

input{
    grid-area:b;        
    font-size:18px;
}

@media screen and (min-width:401px){
    .searchDiv{
        width:50vw;
    }
}

@media screen and (min-width:641px){
    .searchDiv{
        width:40vw;
    }
}

@media screen and (min-width:1101px){
    .searchDiv{
        width:35vw;
    }
}



@media screen and (min-width:1025px){
    .main{
        top:12vh;
    }
}