.menu {
  height: 12vh;
  width:100%;
  position: fixed;
  z-index: 10;
  top: 0px;
  background-color: teal; 
  font-size:40px;
  color: white;
  font-weight:bold;
  display:flex;
  justify-content: center;
  align-items: center;
}
