@import "../../styles/mixins.scss";

.main {
  z-index: 8;
  position: fixed;
  top: 10vh;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  box-shadow: 0px 0px 2px 0px #888;
}
.searchForm {
  height: 5.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include widthControl;
}

.searchForm input {
  font-size: 20px;
  height: 100%;
  width: 100%;
}
