.main {
  z-index: 8;
  position: fixed;
  top: 10vh;
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.searchDiv {
  height: 5.2vh;
  display: flex;
}
.iconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80px;
}

input {
  --inputWidth: 60vw;
  font-size: 18px;
  width: var(--inputWidth);
}

@media screen and (min-width: 401px) {
  input {
    --inputWidth: 45vw;
  }
}

@media screen and (min-width: 641px) {
  input {
    --inputWidth: 35vw;
  }
}

@media screen and (min-width: 1101px) {
  input {
    --inputWidth: 30vw;
  }
}

@media screen and (min-width: 1025px) {
  main {
    top: 12vh;
  }
}
