.main {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0px;
  background-color: teal;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 26px;
  color: white;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media screen and (min-width: 641px) {
  .name {
    font-size: 28px;
  }
}

@media screen and (min-width: 1025px) {
  .name {
    font-size: 34px;
  }
  .main {
    height: 12vh;
  }
}
