@import "../../styles/mixins.scss";

.main {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0px;
  background-color: #a8d5ba;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 26px;
  color: #359;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
